<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - Register for an account')}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="row" th:if="${validationErrors}">
       	<div class="col-md-3"></div>
    </div>
    <form class="form-horizontal" role="form" th:method="PUT" th:action="@{/profile/user/recover}" th:object="${userContent}" th:if="!${success}">


        <li th:text="${userContent.getEmail()}"></li>
        <div class="row" th:if="${validationErrors}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Set your new password</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="newPassword">
            	your new paasword
            </label>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                    <input type="password"
                           name="password"
                           class="form-control"
                           id="newPassword"
                           placeholder="new password"
                           th:field="*{newPassword}"
                           required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <!-- <p style="display:none;" th:field="${userContent.getEmail()}"></p> -->
            <label for="confirmNewPassword">
            	confirm your new password
            </label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                    <input type="password"
                           name="confirmNewPassword"
                           class="form-control"
                           id="confirmNewPassword"
                           placeholder="confirm new password"
                           th:field="*{confirmNewPassword}"
                           required>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <input type="hidden"
               class="form-control"
               id="mail"
               th:field="*{email}">
    </div>
    <div class="row">
    	<div class="col-md-3"></div>
	  	<div class="col-md-6">
	  			<div class="float-md-left">
	  			<a th:href="@{/profile/private}" id="cancel" name="cancel" class="btn btn-danger"> 
		    	<i class="fa fa-stop-circle"></i>
	    			Cancel
	    		</a>
	  		</div>
	  		<div class="float-md-right">
	  			<button type="submit" class="btn btn-success"><i class="fa fa-user-circle"></i> Change password</button>
	  		</div>
	  	</div>
    </div>
</form>
<div th:replace="~{layouts/main_layout :: div#bootstrap_func}"></div>
</body>
</html>