<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - Register for an account')}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="row" th:if="${success}">
        <div class="col-md-3"></div>
        <div id="displayRegMessage" class="col-md-6 alert alert-success" role="alert" >
            You have done it. Please check your email to reset your password.
        </div>
        <div class="col-md-3"></div>
    </div>


<div th:replace="~{layouts/main_layout :: div#bootstrap_func}"></div>
</body>
</html>