<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layouts/main_layout :: head(title = 'create link')}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
               Fehler passieren :)
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->


</body>

</html>