<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head title="save post"
      th:replace="~{layouts/main_layout :: head(title = 'create link')}">
    <title>create link</title>
</head>
<body>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>
<div class="container">
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div class="row" th:if="${validationErrors}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Submit Link</h4>
            <br/>
            <!-- th:object("${newLink}") ist Binding zum Model-Backend im Contrller-->
            <form method="POST" th:action="@{/links/link}"
                  th:object="${newLink}">
                <div class="form-group">
                    <label for="link_title">Title</label>
                    <input type="text"
                           class="form-control"
                           id="link_title"
                           placeholder="min. 5 and max. 50 letters"
                           th:field="*{title}" required>
                    <small th:errors="*{title}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="link_subtitle">Subtitle</label>
                    <input type="text"
                           class="form-control"
                           id="link_subtitle"
                           placeholder="min. 5 max. 80 letters"

                           th:field="*{subtitle}">
                    <small th:errors="*{subtitle}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url"
                           placeholder="URL" th:field="*{url}">
                    <small th:errors="*{url}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           placeholder="max. 100 letters"
                           th:field="*{description}">
                    <small th:errors="*{description}"
                           style="color:#ff0000;"></small>
                </div>
                <label>tags</label>
                <div class="form-group tag-form" id="tagsInput">
                    <input type="text"
                           class="form-control tag-input"
                           placeholder="tag"
                           id="tags0">
                    <input type="text"
                           class="form-control tag-input"
                           placeholder="tag"
                           id="tags1">
                    <input type="text"
                           class="form-control tag-input"
                           placeholder="tag"
                           id="tags2">
                    <input type="text"
                           class="form-control tag-input"
                           placeholder="tag"
                           id="tags3">
                </div>
                <a th:href="@{/links}" id="cancel"
                   class="btn btn-danger">
                    <i class="fa fa-stop-circle"></i>
                    Cancel
                </a>
                <div class="float-md-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <table style="display:none">
                    <tbody>
                    <tr th:each="item, itemStat : *{tags}">
                        <td><input
                                th:field="*{tags[__${itemStat.index}__].tagNum}"/>
                        </td>
                        <td><input
                                th:field="*{tags[__${itemStat.index}__].tagName}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<div th:replace="~{layouts/main_layout :: div#bootstrap_func}"></div>
<script th:type="module" th:src="@{/js/tag.js}"></script>
</body>

</html>