<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Password recovering of your linkMe account</title>
</head>
<body>
    <h1>Password recovering</h1>
    <div th:object = "${user}">
    	<p th:text="|Dear *{fullName}|"></p>
    	<p>Please click on below link to set your new password on your registered email.
            This link will be expired in 5 minutes.
            You can change your password everytime in your account preferences</p>
        <a th:href="${baseURL} + '/jReditt/profile/user/recover/' + *{email} + '/' + *{activationCode}">set new password</a>
    </div>
</body>
</html>