<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = ' Login')}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>
    <!-- profile -->
<!--     th:if="${success}" -->
    <div id="profile" class="container">
    	<div th:if="${success}" id="displayMessage" class="alert alert-success" role="alert" >
           <p th:text="${redirectMessage}">Welcome to your place!</p>
        </div>
        <div class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comments</a>
                </li>             
 				<li class="nav-item dropdown" sec:authorize="isAuthenticated()" th:if="${userDto.getEmail() == userContent.getEmail()}"> 
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Preferences
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" th:href="@{/profile/private/me/}">Me</a>
					  <a class="dropdown-item" th:href="@{/profile/private/me/password}">Change password</a>
					  <a class="dropdown-item" th:href="@{/profile/private/me/update/email}">Change email</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="#">Ask admin</a>
					</div>
				</li>
 
            </ul>
        </div>
        
        <div class="row">
            <div class="col-8">
                <div class="row" th:each="link : ${posts}">
                    <div class="card col-12" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${link.getTitle()}">What's new in Spring Boot 2</h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${link.getSubtitle()}"></h6>
                            <p class="card-text" th:text="${link.getDescription()}">
                            	description of link
                            </p>
                            <a th:href="@{'/links/link/' + ${link.getLinkSignature()} + '#comments'}" 
                            	class="card-link" 
                            	th:text="|${link.getCommentCount()} comments|">8 Comments</a>
                            <a href="/jReditt/connect/facebook" class="card-link">Share</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-3 offset-1">
                <div class="row">
                    <div class="card col-12">
                        <div class="card-body" th:if="${userDto.getEmail() == userContent.getEmail()}">                           
                            <a href="submit.html"><button type="button" class="btn btn-primary btn-lg btn-block">New Post</button></a>
                        </div>
                        <div class="card-body" th:if="${userDto.getEmail() != userContent.getEmail()}">                           
                            <a href="submit.html"><button type="button" class="btn btn-primary btn-lg btn-block">Message at this user</button></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-12">                        
                        <div class="card-body">
                            <div class="card-body" th:if="${userDto.getEmail() == userContent.getEmail()}">
                                <h5 class="card-title">Your information</h5>
                            </div>
                            <div class="card-body" th:if="${userDto.getEmail() != userContent.getEmail()}">
                                <h5 class="card-title" th:text="${userContent.getFirstName()} + '´s information'"></h5>
                            </div>
                           <p class="card-text">
								<p id="userName" th:name="${userContent.getEmail()}"
                                    th:title="${userContent.getEmail()}" th:text="${userContent.getFullName()}">Username: </p>
								<p id="userSince" th:text="${'User since: ' + userSince}">User Since: </p>
								<p id="linkSize" th:text="${'Links: ' + #lists.size(posts)}">Links: </p>
								<p id="commentSize" th:text="${'Comments: ' + #lists.size(comments)}">Comments: </p>         	
							</p>
                        </div>
                    </div>
                </div>
                <div id="linkHisTitle" class="row">
                    <div class="card col-12">
                        <h5 class="card-title recentLinks">Recent clicked links</h5>
                        <ul id="linkHis" class="list-group list-group-flush">
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div> <!-- // row -->
        <p  th:text="${userContent.getEmail()}">Username email: </p>
        <p  th:text="${userDto.email}">UserDto email: </p>
    </div><!-- // profile -->
    <div th:replace="~{layouts/main_layout :: div#bootstrap_func}"></div>
    <div th:replace="~{layouts/main_layout :: div#img_upload}"></div>
    <script th:src="@{/js/user.js}"></script>
</body>

</html>